---
import { Image } from "astro:assets";
import heroImage from "assets/profile.jpeg";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Me</Fragment>
      <Fragment slot="desc">Experienced fullstack developer.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Helping create the future of tomorrow through the web.
      </h2>
      <p class="text-lg leading-relaxed text-slate-700">
        I first started fullstack development back in January 2021, learning React and Express to create
        dynamic web applications. Ever since then, I've been making cool projects, while also working in the field,
        to improve myself as a fullstack engineer.
      </p>
      <p class="text-lg leading-relaxed text-slate-700">
        My Background: born in Hawaii, moved to different states and even lived in Germany at one point.
        I also like playing video games, especially PC games like World of Warcraft or Company of Heroes.
      </p>
    </div>
    <div class="mx-auto max-w-xs mt-12">
      <Image
                src={heroImage}
                alt="Picture of Andrew Bustos"
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
      <!-- {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      } -->
    </div>
  </Container>
</Layout>
